*.pyc
*.plist
*.log
*.bom
*.conf
InstalledApplications/
NetworkSettings/
Printers/
SystemInformation/
UserAccounts/
Logs/
.idea
__pycache__/*
FileListing/__pycache__/*
/.idea/.gitignore
/.idea/MacForensics.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
